.cv-download a {
    display: inline-block;
    padding: 10px 20px;
    background-color: gold;
    color: #6b0e0e;
    text-decoration: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .cv-download a:hover {
    background-color: red;
  }

  .contact-info p {
    margin: 5px 0;
    color: #6b0e0e;
    font-size: 1em;
  }
  
  
  .social-icons a {
    margin-right: 10px;
    font-size: 1.5em;
    color: #6b0e0e;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: red; 
  }
  
  .contact-button {
    .contact-button {
        display: inline-block;
        margin-top: 10px;
        padding: 10px 10px;
        background-color: #6b0e0e;
        color: #6b0e0e;
        text-decoration: none;
        border-radius: 2px;
      }
  }
  
  .contact-button:hover {
    background-color: red;
  }
  
  
  @media (max-width: 768px) {
    .header-content {
      flex-direction: column;
      text-align: center;
    }
  
    .myimg img {
      width: 100px;
      height: 100px;
    }
  }
  